In [3]:
import pandas as pd

df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [4]:
df.mean()

men      70.84
women    58.37
dtype: float64

In [5]:
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)
mean([6,10,7,12,6])

8.2

In [8]:
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [10]:
df.median()

men      75.6
women    57.6
dtype: float64

In [1]:
df.std

NameError: name 'df' is not defined